.about {
  width: 100%;
  height: auto;
}

.about-card-first {
  background: url("../img/Слайдер.png") no-repeat;
}
.about-card-second {
  background: url("../img/Слайдер.png") no-repeat;
}
.about-card-third{
  background: url("../img/Слайдер.png") no-repeat;
}

.about-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
  width: 100%;
}



.swiper-slide {

  .about-content {
    position: absolute;
    top: 250px;
    .about-title {
      letter-spacing: 1.5px;
      font-weight: 700;
      font-size: 40px;
      line-height: 142%;
      color: #ffffff;
      border-bottom: 2px solid #77b946;
    }
    p {
      margin-top: 16px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: #ffffff;
    }
    button {
      margin-top: 32px;
      background: #ffffff;
      border-radius: 8px;
      border-style: unset;
      border: unset;
      padding: 12px 28px;

      letter-spacing: 1.5px;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: rgba(58, 75, 49, 0.5);
      transition: all .4s ease;
      &:hover {
        transform: scale(1.03);
        color: black;
      }
    }
  }
}

.swiper-pagination {
  width: 100%;
  span {
    width: 67px !important;
    height: 6px !important;
    background: #ffffff !important;
    border-radius: 3px !important;
    transform: unset !important;
  }
}
