section.activity  
  .wrapper 
    .activity-content
      .title-block 
        .title      
          span Виды деятельности
        .activity-descr 
          span Все наши деятельности, будь то строительство, теплоснабжение, производство направлены на выполнение высококачественного проекта в кратчайшие сроки.
      .activity-swiper.mySwiper1
        .swiper-wrapper 
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="https://dummyimage.com/230x169/000/fff", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
        .swiper-pagination1
        