footer.footer
  .wrapper  
    .footer-content 
      .footer-top__block
        .footer__list-items 
          .footer-logo 
            a(href="#")
            p Это сплоченная сильная команда. Мы создаем автономные электростанции, сопровождая и обслуживая их с гарантией
          .footer-nav
            ul 
              li 
                a(href="#") О группе компаний 
              li 
                a(href="#") Деятельность
              li 
                a(href="#") Пресс-центр
              li 
                a(href="#") Проекты
              li 
                a(href="#") Контакты
          .footer-contacts 
            ul.footer-contacts__list
              li.phone
                a(href="tel: 89998003344") + 7 (4112) 31-84-40
              li.mail 
                a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
              li.point
                a(href="#") Птицефабрика микрорайон
      hr
      .footer-lower__block
        .footer-date 
          span © 2022 Группа компаний Генерация - инвестиции в сферу ЖКХ и энергетики
        .footer__social-icons
          ul  
            li.vk 
              a(href="#") 
            li.odnoklassniki 
              a(href="#") 
            li.telegram 
              a(href="#") 
