header.header
  .wrapper 
    .header-content 
      .header-top 
        .header-top__companys
          .dropdown
            a.dropbtn Компании
            .drop-content#dropdown 
              a(href="#") first
              a(href="#") second
              a(href="#") third
        ul.header-top__nav 
          li.top-nav__item.phone
            a(href="tel: 89998003344") + 7 (4112) 31-84-40
          li.top-nav__item.mail 
            a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
          li.top-nav__item.point
            a(href="#") Птицефабрика микрорайон
      hr
      .header-bottom 
        .header-logo
          a(href="#") 
        nav.header-nav 
          ul.nav-items 
            li.nav-item
              a.nav-link(href='#') О группе компаний
            li.nav-item 
              a.nav-link(href='#') Проекты
            li.nav-item 
              a.nav-link(href='#') Деятельность
            li.nav-item 
              a.nav-link(href='#') Пресс-центр
            li.nav-item 
              a.nav-link(href='#') Контакты
            li.nav-item 
              a.nav-link(href='#') 