section.map 
  .wrapper 
    .map-content 
      .title
        span География проектов
      .map-block 
        .map-bg
        .map-bg
          include maprussia
          .dot1.dota(data-dota='0')
            svg#circle1
              path.dot(fill='white' d='M 15.5, 6 m -5, 0 a 5,5 0 1,0 1,0')
              circle.circle(data-id='0' cx='11' cy='11' r='10' fill='transparent' stroke='white' stroke-width='2')
          .dot2.dota(data-dota='1')
            svg#circle2
              path.dot(fill='white' d='M 15.5, 6 m -5, 0 a 5,5 0 1,0 1,0')
              circle.circle(data-id='1' cx='11' cy='11' r='10' fill='transparent' stroke='white' stroke-width='2')
          .dot3.dota(data-dota='2')
            svg#circle3
              path.dot(fill='white' d='M 15.5, 6 m -5, 0 a 5,5 0 1,0 1,0')
              circle.circle(data-id='2' cx='11' cy='11' r='10' fill='transparent' stroke='white' stroke-width='2')
          .dot4.dota(data-dota='3')
            svg#circle4
              path.dot(fill='white' d='M 15.5, 6 m -5, 0 a 5,5 0 1,0 1,0')
              circle.circle(data-id='3' cx='11' cy='11' r='10' fill='transparent' stroke='white' stroke-width='2')
          .dot5.dota(data-dota='4')
            svg#circle5
              path.dot(fill='white' d='M 15.5, 6 m -5, 0 a 5,5 0 1,0 1,0')
              circle.circle(data-id='4' cx='11' cy='11' r='10' fill='transparent' stroke='white' stroke-width='2')
          .dot6.dota(data-dota='5')
            svg#circle6
              path.dot(fill='white' d='M 15.5, 6 m -5, 0 a 5,5 0 1,0 1,0')
              circle.circle(data-id='5' cx='11' cy='11' r='10' fill='transparent' stroke='white' stroke-width='2')
          .dot7.dota(data-dota='6')
            svg#circle7
              path.dot(fill='white' d='M 15.5, 6 m -5, 0 a 5,5 0 1,0 1,0')
              circle.circle(data-id='6' cx='11' cy='11' r='10' fill='transparent' stroke='white' stroke-width='2')
          .hide.show.info1(data-info-id='0')
            a.close-hide close 
            span Name of the project
            span Name of the projectName of the projectName of the project
            span Name of the project
          .hide.info2(data-info-id='1')
            a.close-hide close 
            span Name of the project
            span Name of the projectName of the projectName of the projectName of the projectName of the project
            span Name of the project
          .hide.info3(data-info-id='2')
            a.close-hide close 
            span Name of the project
            span Name of the projectName of the projectName of the projectName of the project
            span Name of the project
          .hide.info4(data-info-id='3')
            span Name of the project
            span Name of the projectName of the projectName of the project
            span Name of the project
          .hide.info5(data-info-id='4')
            span Name of the project
            span Name of the projectName of the projectName of the projectName of the project
            span Name of the project
          .hide.info6(data-info-id='5')
            span Name of the project
            span Name of the projectName of the projectName of the projectName of the project
            span Name of the project
          .hide.info7(data-info-id='6')
            span Name of the project
            span Name of the projectName of the projectName of the projectName of the projectName of the projectName of the project
            span Name of the project  
      .map-swiper__container
        .swiper-button-prev
          img(src="../img/arrow-map.svg", alt="")
        .map-swiper.mySwiper2 
          .swiper-wrapper
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
        .swiper-button-next
          img(src="../img/arrow-map.svg", alt="")