section.news 
  .wrapper 
    .news-content   
      .title-block 
        .title      
          span Пресс - центр
        .all-news 
          a(href="#") Все новости 
            i.arrow
      .news-cards 
        .news-card
          img(src="https://dummyimage.com/310x216/000/fff", alt="")
          .news-card__title 
            span Чистой артике быть! В пос.Тикси дан старт Lorem ipsum dolo s laboriosam!
          span.news-card__descr С 23 по 27 августа п. Тикси прошло заседание проектного…
          .news-card__date  
            span.news-author DvEnergry
            span 05.09.2021
        .news-card
          img(src="https://dummyimage.com/310x216/000/fff", alt="")
          .news-card__title 
            span Взгляд инвестора на План Козака   
          span.news-card__descr С 23 по 27 августа п. Тикси прошло заседание проектного…
          .news-card__date  
            span.news-author DvEnergry
            span 05.09.2021
        .news-card
          img(src="https://dummyimage.com/310x216/000/fff", alt="")
          .news-card__title 
            span Модернизация котельных в с. Бютейдях Мегино Кангаласский район в РСЯ АУЕ
          span.news-card__descr С 23 по 27 августа п. Тикси прошло заседание проектного…
          .news-card__date  
            span.news-author DvEnergry
            span 05.09.2021
        .news-card
          img(src="https://dummyimage.com/310x216/000/fff", alt="")
          .news-card__title 
            span Мы на международной железнодорожной выставке
          span.news-card__descr С 23 по 27 августа п. Тикси прошло заседание проектного…
          .news-card__date  
            span.news-author DvEnergry
            span 05.09.2021
          